   /* header  */
   .header{
    background-color:$primary;
    }
    
    .header img{
      width: 80px;
      padding-top: 12px;
    }
    .menu{
    width: 43%;
    padding: 25px 0;	  
    }
    
    .menu li{	
    width: 25%;
    text-align: center;
    }
  
    @media(max-width:768px){
    .menu{
    width: 76%;	
    padding: 25px 0; 
    }
    .btn{
    margin-top: 4px;	
    }
    .header .container{
     max-width: 100%;
    }
    }
    
    @media(max-width:576px){
    .header .container{
    padding-left: 0px;	
    padding-right: 0px;	
    }
    .header img{
    margin:12px 15px ;
      }
    
    .menu{
    width: 100%;	
    padding: 0 0;	  
    }
    
    
    .menu li{	
    width: 50%;	
    border: 1px solid #ffffff;	
    padding: 12px 0;
    }
    
    }
    