  
  /* top */
  .top{
  height: 787px;	
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);	
  background-size: cover;
  background-repeat: no-repeat;
  }
  
  .top .top-text{
  height: 787px;
  color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  }
  
  .top-text .btn a{
  color: #ffffff;
  background-color: $primary;
  padding: 6px 12px;
  text-decoration: none;
  }
  
  .top-text .btn a:hover{
  background-color: #ffffff;	
  color: $primary;
  }
  
  @media(max-width:768px){
  .top{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);	
  height: auto;	
  }
  .top-text .btn a{
  font-size: 20px;
  }
    
  }
  
  @media(max-width:576px){
  .top{		
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);	
  height: auto;	
  }
  .top .top-text{	height: 396px;
  }
  .top-text .btn{margin-top: 8px;
  }	
  }
  
  
  /* content */
  .content{
  background-color: $bg-color;
  padding: 80px 0;
  }
  
  .content-title{
  text-align: center;
  color: $secondary;
  padding-bottom: 24px;
  }
  
  .list img{
  width: 100px;	
  padding-bottom: 16px;
  }
  
  .title{
  color: $secondary;
  padding-bottom: 8px;
  }
  
  .list{
  margin-left: -12px;
  margin-right: -12px;
  }
  
  .list-box{
  width: calc(25% - 24px);	
  display: flex;
  flex-direction: column;
  align-items: center;	
  padding-left: 12px;
  padding-right: 12px;
  }
  
  
  @media(max-width:768px){
  .list{
  margin-bottom: -24px;
  }
  .list-box{
  width: 50%;	
  padding-bottom: 24px;
  }
  }
  
  @media(max-width:576px){
  .list-box{
  width: 100%;	
  }
  }
  
  /* classic */
  .classic{
  padding: 80px 0;	
  }
  
  .title{
  color: $secondary;	
  text-align: center;
  padding-bottom: 48px;
  }
  
  .card-title{
  color: $primary;	
  text-align: center;
  font-style:italic; 
  font-weight: 900;
  padding: 8px 0;
  word-wrap: break-word;
  word-break: break-all;
  }
  
  .classic .card{
  margin-left: -12px;
  margin-right: -12px;
  }
  
  .classic .card-box{
  width: 33.3333%;
  padding-left: 12px;
  padding-right: 12px;
  }
  
  @media(max-width:768px){
  .classic .card{
  max-width: 336px;
  margin: 0 auto;
  }
  
  .classic .card-box{
  width: 100%;
  padding-bottom: 24px;	
  padding-left: 0px;
  padding-right: 0px;
  }
  
    }
  
  @media(max-width:576px){
  .classic{
  padding: 40px 0;	
  }
  
  .title{
  padding-bottom: 24px;
  }
  }
  
  
  /* brand */
  .brand{
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  }
  
  .brand .title{
  color: #ffffff;
  }
  
  .brand .card-title{
  background-color: #ffffff;
  }
  
  
  @media(max-width:768px){
  .card{
  margin-bottom: -24px;
  flex-wrap: wrap;
  }
  
  .brand .card-box{
  padding-bottom: 24px;
  }
  
  
  }
  
  @media(max-width:576px){
  .brand{
  padding: 40px 0;	
  }
  }
  
  /* client */
  .client{
  padding: 80px 0;	
  }
    
  .client .card-box{
  width: calc(25% - 12px);
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
  }
  
  .card-text{
  height: 205px;
  padding: 16px;
  flex-direction: column;
  justify-content:flex-start;
  overflow: hidden;
  }
  
  .date{
  font-size: 14px;	
  margin-top: auto;
  color: #707070;
  }
  
  @media(max-width:768px){
  .client .card-box{
  width: calc(50% - 12px);
  margin-bottom: 16px;
  }
    
  }
  
  @media(max-width:576px){
  .client{
  padding: 40px 0;
      
  }	
  .client .card-box{
  width: 100%;
  
  }
      
  }
  
  /* contact */
  .contact{
  background-color:$bg-color;	
  padding: 80px 0;
  }
  
  .contact-all{
  max-width: 636px;	
  margin: 0 auto;
  }
  
  .form_box{
  width: 100%;
  height: 36px;
  background-color: transparent;
  border: 1.5px solid #495057;
  /* line-height: 1.5; */
  margin-bottom: 16px;
  -webkit-appearance: none;
  appearance: none;
  
  }
  
  .contact-text{
  font-size: 20px;
  padding-bottom: 24px;
  }
  .form_box:focus{
  border-color:$primary;
  outline: 0;
  }
  
  .feedback_box{
  height: 136px;
  }
  
  
  .button{	
  display: flex;
  justify-content: center;
  margin-top: 48px;
  }
  
  .button_box{
  background-color: $primary;
  color: #ffffff;
  border: 0px;
  width: 416px;
  height: 56px;
  }
  
  .button_box:hover{
  background-color: $secondary;	
  }
  
  @media(max-width:768px){
  .contact-text{
  font-size: 16px;
  }
  .contact-all{
  max-width: 576px;	
  }
  .button_box{
      width: 336px;
  }
    
  }
  @media(max-width:576px){
  .contact{
  padding: 40px 0;
  }
  .button{	
  margin-top: 24px;
  }
    
  }
  
